<h2> Simple Calculator </h2>

<div class="calculator-container">
    <div class="input-group">
        <input type="number" [(ngModel)]="a" placeholder="Enter first number" >
        <input type="number" [(ngModel)]="b" placeholder="Enter second number" >
    </div>


    <div class="button-group">
        <button (click)="add()"> + </button>
        <button (click)="subtract()"> - </button>
        <button (click)="multiply()"> * </button>
        <button (click)="divide()"> / </button>
    </div>

    <div class="result">
        <p *ngIf="result !== null"> Result: {{ result | number:'1.0-4' }} </p>
    </div>
</div>