.like-div {
    text-align: center;
    margin-top: 20px;
}

.like-div button {
    padding: 8px 16 px;
    font-size: 16px;
    background-color: rgb(196, 45, 45);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5%;
}