<p class="title">Angular Assignment - part 1</p>

<!-- Simple Profile Component -->
<app-profile-card></app-profile-card>
<hr>

<!-- Interactive Like Button -->
<app-like-button></app-like-button>
<hr>

<!-- Input Field and Displayshow -->
<app-input-display></app-input-display>
<hr>

<!-- Conditional Display with *ngIf -->
 <button (click)="toggleDetails()" class="extra-info-button">
    {{showDetails ? 'Hide Details' : 'Show Details'}}
 </button>

 <div *ngIf="showDetails">
    This is some extra information!
 </div>
 <hr>

 <!-- List Rendering with *ngFor and Dynamic Styling with *ngClass --> 
  <h2>Product List: </h2>
  <ul class="product-list">
    <li *ngFor="let item of items" class="product-item" [ngClass]="{ 'expensive': item.price > 100, 'cheap':  item.price <= 100 }">
        {{item.name}} - ${{item.price}}
    </li>
  </ul>

<p class="title">Angular Assignment - part 2</p>


<a class="products-router" routerLink="/products"> Products </a>
<router-outlet></router-outlet>