:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    font-weight: bold;
    font-size: larger;
    width: 80%;
    padding: 2%;
    background-color: blanchedalmond;
    justify-content: center;
    border-radius: 2%;
}

app-profile-card,
app-like-button,
app-input-display {
    margin-bottom: 20px;
}

.extra-info-button {
    margin-bottom: 2%;
    background-color: rgb(81, 81, 228);
    padding: 8px 16 px;
    font-size: 16px;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5%;
}

.product-list {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 250px;
}

.product-item {
    padding: 6px 0;
    border-bottom: 1px solid #ccc;
}

.expensive {
    font-weight: bold;
    color: red;
}

.cheap {
    font-weight: lighter;
    color: green;
}

hr {
    width: 80%;
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 24px 0;
}

.products-router {
    text-decoration: none;
    margin-top: 20px; 
    color: #333; 
    font-size: larger;
    font-weight: bold;
}