<!-- Simple Profile Component -->
<app-profile-card></app-profile-card>
<hr>

<!-- Interactive Like Button -->
<app-like-button></app-like-button>
<hr>

<!-- Input Field and Displayshow -->
<app-input-display></app-input-display>
<hr>

<!-- Conditional Display with *ngIf -->
 <button (click)="toggleDetails()" class="extra-info-button">
    {{showDetails ? 'Hide Details' : 'Show Details'}}
 </button>

 <div *ngIf="showDetails">
    This is some extra information!
 </div>
 <hr>

 <!-- List Rendering with *ngFor -->
  <h2>Product List: </h2>
  <ul class="product-list">
    <li *ngFor="let item of items" class="product-item">
        {{item.name}} - ${{item.price}}
    </li>
  </ul>