<nav class="navbar">

   <!-- Angular Part 1 -->
   <div class="nav-item" (mouseenter)="isPart1Open = true" (mouseleave)="isPart1Open = false">
     <span class="nav-title">Angular Part 1</span>
     <div *ngIf="isPart1Open" class="dropdown">
       <a routerLink="/profile-card" class="dropdown-link">Profile Card</a>
       <a routerLink="/like-button" class="dropdown-link">Like Button</a>
       <a routerLink="/input-display" class="dropdown-link">Input Display</a>
     </div>
   </div>
 
   <!-- Angular Part 2 -->
   <div class="nav-item" (mouseenter)="isPart2Open = true" (mouseleave)="isPart2Open = false">
     <span class="nav-title">Angular Part 2</span>
     <div *ngIf="isPart2Open" class="dropdown">
       <a routerLink="/products" class="dropdown-link">Product Display</a>
       <a routerLink="/calculator" class="dropdown-link">Calculator</a>
       <a routerLink="/user-list" class="dropdown-link">User Management</a>
       <a routerLink="/posts" class="dropdown-link">Posts from REST API</a>
       <a routerLink="/items" class="dropdown-link">Items Display (Pipes/Directives)</a>
       <a routerLink="/blog" class="dropdown-link">Simple Blog App</a>
       <a routerLink="/todo" class="dropdown-link">TODO App</a>
       <a routerLink="/data" class="dropdown-link">Real-Time Data Stream</a>
     </div>
   </div>

 </nav>
 
<div class="page-content">
  <router-outlet></router-outlet>
</div>
